{erl_opts, [debug_info]}.

{deps, [grpcbox]}.

{grpc, [{protos, "priv/protos"},
        {gpb_opts, [{module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin]}.

{relx, [{release, {zbclient, "0.0.1"}, [zbclient]},
    {dev_mode, true},
    {include_erts, false},
    {sys_config, "config/sys.config"}
]}.
